@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Zen+Antique&display=swap");

* {
    box-sizing: border-box;
}

.result{
    text-align: center;
}

  
main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;  /*cant scroll*/
    font-family: "Poppins", sans-serif;
}

body{
    background-image: url("background.jpg");
}

nav a {
    color: black;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
  }
  
  nav a:hover {
    color: #007bff;
    /* Change color on hover */
  }

nav {
    display: flex;
    justify-content: center;
  }

.container{
    background-color: rgb(202, 228, 244);
    font-size: 2.4rem;
    font-weight: 600;
    padding: 4rem;
    border-radius: 0.5rem;
    width: 1000px;
    min-height: 600px;
    max-width: 90%;
    box-shadow: 1px 5px 6px rgb(80,80,80);
}

.text{
    text-align: center;
    font-size: 20px;
}
.container .type-input {
    margin-top: 4rem;
    font-size:  3rem;
}

.timer {
    position: absolute;
    top: 2rem;
    font-size: 5rem;
    font-weight:  bold;
    color: rgb(28, 25, 25);
}

.type-display{
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.type-input{
    background: transparent;
    border: 2px solid rgb(199, 92, 92);
    outline: none;
    width: 100%;
    height: 14rem;
    margin: auto;
    resize: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}

type-input:focus {
    border-color: black;
}

.correct{
    color:green;
}

.incorrect{
    color:red;
    text-decoration: underline;
}